@charset "UTF-8";


:root {
    --content_max_width: 984px;
}


.restaurant_logo_outer {
    max-width: var(--content_max_width);
    margin: auto;
    overflow: hidden;
    background-color: #ffffff;
}

.restaurant_logo_inner {
    /* 指定することは特にない */
}

.navbar_outer {
    max-width: var(--content_max_width);
    margin: auto;
}

.restaurant_main_visual_outer {
    max-width: var(--content_max_width);
    margin: auto;
}

.image_in_div {
    max-width: 100%;
    width: auto;
    height: auto;
}

/* カレンダー大外枠 */
.calendar_frame {
    width:  100%;
    height: 100%;
}

/* カレンダー1行 */
.calendar_row {
    margin: auto 6.25%;  /* 左右に0.5/8の空白 */
    width:  87.5%;  /* 7/8 */
    height: 12.5%;  /* 1/8 */
}

/* カレンダー1マス */
.calendar_cell {
    width:     14.2857%;  /* 1/7 */
    height:    100%;
}

.calendar_text {
    /* 左右中央寄せ */
    position:   relative;
    text-align: center;
    top:        50%;
    transform:  translateY(-50%);
}

.space_bfore_item_title {
    width:  0;
    height: 120px;
    margin-top: -120px;
}


/* これより以下、画面サイズに応じて設定を変えているもの */
.disp_dish_name {
    font-size: 200%;
}

@media (max-width: 575px) {
    .disp_page_title {
        font-size: 26px;
    }
    
    .disp_item_title {
        font-size: 22px;
    }
    
    .disp_dish_name {
        font-size: 22px;
    }
}
